@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
}

// Responsive
@media only screen and (max-width: 430px) {
  .top_bar {
    .standard_wrapper {
      padding: 0 30px !important;
      .menu_list {
        padding: 0 !important;
        .navbar_item:nth-child(1),
        .navbar_item:nth-child(2),
        .navbar_item:nth-child(3),
        .navbar_item:nth-child(4),
        .navbar_item:nth-child(5),
        .navbar_item:nth-child(6),
        .navbar_item:nth-child(7),
        .navbar_item:nth-child(8) {
          display: none !important;
        }

        .navbar_item:nth-child(9) {
          margin-right: 10px;
        }

        .navbar_item:nth-child(10) {
          margin: 0;
        }
      }
    }
  }

  .center_wrapper {
    span {
      text-align: center;
    }
  }

  .form-search,
  .hidden-form {
    flex-wrap: nowrap !important;
    flex-direction: column;
    align-items: center;

    .input,
    .select {
      margin-bottom: 6px;
    }

    .input {
      input {
        padding: 0;
      }
    }

    button {
      width: 200px !important;
      height: 38px;
    }
  }

  .text-handle {
    justify-content: center;
  }

  body {
    h2 {
      font-size: 24px !important;
    }
  }

  .block-card {
    flex-direction: column;
    .card {
      width: 100%;
    }

    .card-trip,
    .why-choose-block,
    .card-tips {
      width: 100%;
    }
  }

  .footer_top {
    flex-direction: column;
    align-items: center;

    .footer_award,
    .footer_contact,
    .footer_trips {
      margin: 0 !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .top_bar {
    .standard_wrapper {
      padding: 0 30px !important;
      .menu_list {
        padding: 0 !important;
        .navbar_item:nth-child(1),
        .navbar_item:nth-child(2),
        .navbar_item:nth-child(3),
        .navbar_item:nth-child(4),
        .navbar_item:nth-child(5),
        .navbar_item:nth-child(6),
        .navbar_item:nth-child(7),
        .navbar_item:nth-child(8) {
          display: none !important;
        }

        .navbar_item:nth-child(9) {
          margin-right: 10px;
        }

        .navbar_item:nth-child(10) {
          margin: 0;
        }
      }
    }
  }
  .form-search {
    width: 668px !important;

    .input,
    .select {
      width: 155px;
    }

    .input {
      input {
        padding: 0;
        width: 140px !important;
      }
    }

    .select {
      select {
        width: 155px !important;
      }
    }
  }

  .block-card {
    .card:nth-child(4) {
      margin: 0;
    }

    .card-trip:nth-child(3),
    .card-tips:nth-child(3) {
      margin: 0;
    }

    .why-choose-block {
      width: 217px;

      p {
        width: 217px;
      }
    }
  }

  .text-handle {
    justify-content: center;
  }

  button {
    width: 155px !important;
    height: 38px;
  }

  .footer {
    .footer_top {
      .footer_award,
      .footer_trips,
      .footer_contact {
        width: 221px !important;
      }

      .footer_trips {
        margin: 0 !important;

        .image_item {
          width: 71px !important;
          height: 71px !important;
        }
      }
    }

    .footer_bar {
      width: 768px !important;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .menu_list {
    .navbar_item {
      margin-right: 16px;
    }
  }

  .form-search {
    width: 860px !important;
    .input,
    .select {
      width: 200px;
    }

    .select {
      select {
        width: 200px !important;
      }
    }
  }

  .text-handle {
    justify-content: center;
  }

  .block-card {
    .card:nth-child(4) {
      margin: 0;
    }

    .card-trip:nth-child(3),
    .card-tips:nth-child(3) {
      margin: 0;
    }

    .card {
      width: 200px !important;
    }

    .card-trip {
      width: 277px !important;
    }

    .why-choose-block {
      width: 275px !important;
    }

    .card-tips {
      width: 282px !important;
    }
  }

  .footer {
    .footer_top {
      width: 1009px !important;

      .footer_trips {
        margin: 0 !important;
      }

      .trips_image {
        .image_item {
          width: 95px !important;
          height: 95px !important;
        }
      }

      .footer_award,
      .footer_contact,
      .footer_trips {
        width: 300px !important;
      }
    }

    .footer_bar {
      width: 960px !important;
    }
  }
}
