.top_bar {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  z-index: 9999;

  .standard_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 90px;
    height: 74px;
  }

  .logo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;

    .menu_list {
      display: flex;
      list-style: none;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
    }
  }
}

.hidden {
  display: none;
}

.top_bar_block {
  color: black;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  animation: animation_header ease-in 0.3s;
}

@keyframes animation_header {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}
